.cím {
    background-color: red;
}

.gyakorlat img {
    width: 500px;
}

.görgő {
    padding-left: 80px;
    padding-right: 80px;
    background-color: red;
    padding-bottom: 15px;
}

.felirat {
    color: black;
    font-weight: bold;
    background-color: wheat;
    width: 200px;
}

.hely img {
    width: 350px;
    margin-bottom: 15px;
}

.beosztás {
    border: 5px red solid;
}